#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  overflow: hidden;
}
/************* quiz page ***************/
/** progress bar **/
.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8px;
  background-color: rgb(3, 163, 231);
  transition: all 0.2s ease-in-out;
}

.quizMain {
  display: flex;
  justify-content: space-between;
}
.questionSpace {
  width: 65%;
  height: 70vh;
  box-shadow: 0px 0px 12px 4px rgba(89, 89, 89, 0.687);
  border-radius: 10px;
  padding: 50px;
}
.question {
  height: 80%;
}
.overviewPanel {
  width: 20%;
  padding: 20px;
  box-shadow: 0px 0px 12px 4px rgba(89, 89, 89, 0.687);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.overviewPanelQuestions {
  display: flex;
  flex-wrap: wrap;
}

.qOverviewNo {
  width: 15px;
  height: 15px;
  border-radius: 5px;
  border: 2px solid white;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.qOverviewNo:hover {
  background-color: rgb(70, 70, 70);
}
.qNoAnswered {
  background-color: green;
}
.navButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  padding: 10px 20px;
  width: 8rem;
  border-radius: 5px;
  border: 2px solid white;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.btn:hover {
  background-color: rgb(70, 70, 70);
}

/** Question Item **/
.qItem {
  width: 100%;
}
.qItemQuestion {
  font-size: 20px;
  padding: 30px 20px;
  border-radius: 5px;
  border: 2px solid rgb(3, 163, 231);
  width: 100%;
  box-sizing: border-box;
}
.qItemOptions {
  width: 100%;
}
.option {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid rgba(89, 89, 89, 0.687);
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.option:hover {
  background-color: rgb(50, 50, 50);
  border: 2px solid rgb(106, 106, 106);
  box-shadow: 0px 0px 12px 4px rgba(89, 89, 89, 0.687);
}
.optionSelectBtn {
  width: 15px;
  height: 15px;
  margin: 0 10px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.optionSelectBtnInner {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}
.optionWrong {
  background-color: red;
}
.optionSelected {
  background-color: green;
}
.optionSelected:hover {
  background-color: rgb(44, 74, 44);
}

/** Submit Modal **/
.modalCnt {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.484);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: rgb(94, 94, 94);
  padding: 20px;
  border-radius: 5px;
}
.btnCnt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}
.timer {
  font-size: 1.6rem;
}

@media screen and (max-width: 500px) {
  .quizMain {
    flex-direction: column;
    width: 100vw;
  }
  .questionSpace {
    width: 65%;
    height: 70vh;
    box-shadow: 0px 0px 12px 4px rgba(89, 89, 89, 0.687);
    border-radius: 10px;
    padding: 50px;
  }
  .question {
    height: 80%;
  }
  .overviewPanel {
    width: 65%;
    padding: 50px;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem 0px;
  }
  .overviewPanelQuestions {
    display: flex;
    flex-wrap: wrap;
  }
}
/*********************************************/

/**************** submit page ****************/
.submitMain {
  width: 40vw;
  box-shadow: 0px 0px 12px 4px rgba(89, 89, 89, 0.687);
  padding: 20px;
}
.score {
  font-size: 2rem;
  font-weight: 800;
  width: 100%;
  text-align: center;
}
.scoreDetails {
  width: 100%;
  margin: 0px auto;
}
.doughnut {
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: center;
  margin: auto;
  /* background-color: rgb(197, 33, 33); */
}
@media screen and (max-width: 500px) {
  .submitMain {
    width: 65vw;
  }
  .score {
    font-size: 1rem;
  }
  .doughnut {
    width: 80%;
    height: 80%;
  }
  .scoreDetails {
    width: 80%;
  }
  .btnCnt {
    width: 100%;
  }
  .btn {
    font-size: 0.8rem;
    padding: 10px;
    margin: 0 5px;
  }
}

/* Page loader */
.pageLoaderWrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.559); /*rgba(0, 0, 0, 0.834)*/
  z-index: 30;
}

.pageLoader {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: rgb(255, 255, 255) transparent rgb(255, 255, 255) transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}
@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/***************************************/

/************** Home Page **************/
.homeMain {
  width: 50vw;
  box-shadow: 0px 0px 12px 4px rgba(89, 89, 89, 0.687);
  padding: 1rem 4rem;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homeHead {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  margin: 2rem auto;
}
.form {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}
.form label {
  margin: 0 1rem;
  font-size: 1.4rem;
}
.form input {
  width: 70%;
  padding: 10px;
  font-size: 1.2rem;
}
@media screen and (max-width: 500px) {
  .homeMain {
    width: 80vw;
    padding: 1rem 0rem;
    margin: 0px auto;
  }
  .form label {
    margin: 0 1rem;
    font-size: 1rem;
  }
  .form input {
    font-size: 0.8rem;
  }
}
